<!DOCTYPE html>
<html lang=en>
<meta name=robots content=noindex />
<meta charset=utf-8>
<title>Distributed Migration Strategies</title>
<meta name=description content="How to handle schema changes in CouchDB." />
<meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href=css/syntax.css rel=stylesheet>
<link href=css/main.css rel=stylesheet>
<main>
  {{ content }}
</main>
<footer>© 2017 by Matthias Dumke and Johannes J. Schmidt</footer>
